<h1>Authenticate#login</h1>

<%= form_tag do%>
  <%= text_field_tag :username,nil, placeholder: "USERNAME" %>
  <%= password_field_tag :password,nil, placeholder: "PASSWORD" %>
<%= submit_tag %>

<% end %>
